@charset "UTF-8";
body {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Noto Sans TC';
  font-style: normal;
}

.modal_shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #0D2D53;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  width: 768px;
  height: 400px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 20px 0;
}

.modal .top_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

.modal .top_btn span {
  cursor: pointer;
}

.modal .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 26px;
  color: #FFFFFF;
  cursor: default;
}

.modal .title img {
  height: 28px;
}

.modal .sub_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  cursor: default;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .modal {
    width: 95%;
  }
}

#modal01 .close_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 20px;
}

#modal01 .close_btn span {
  cursor: pointer;
}

#modal01 .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 26px;
  color: #FFFFFF;
  cursor: default;
}

#modal01 .title img {
  height: 28px;
}

#modal01 .sub_title {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 40px;
}

#modal01 .choose_blk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal01 .choose_blk div {
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
  padding: 16px 50px;
  width: 307px;
  height: 56px;
  margin-bottom: 20px;
  cursor: pointer;
}

#modal01 .choose_blk div img {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#modal01 .is_member {
  margin-top: 20px;
}

#modal01 .is_member p {
  color: #fff;
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

#modal02 .info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px;
  margin: 0 auto 15px auto;
}

#modal02 .info form > input {
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
  margin-top: 15px;
}

#modal02 .info form > p {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
}

#modal02 .info form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

#modal02 .info form > div > input {
  width: 230px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
}

#modal02 .info form > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal02 .info form > div > div > input {
  display: none;
}

#modal02 .info form > div > div > label {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-left: 10px;
}

#modal02 .info form > div > div > label img {
  width: 14px;
  height: 14px;
}

#modal02 .join_btn {
  width: 330px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.5px solid #000000;
  border-radius: 4px;
  color: #174780;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

#modal02 .join_btn:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), #3351A0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), #3351A0;
}

#modal02 .terms {
  color: #fff;
  text-align: center;
  margin-top: 25px;
  font-weight: 500;
  font-size: 14px;
  cursor: default;
}

#modal02 .terms a {
  text-decoration: underline;
  color: #fff;
}

#modal03 .info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px;
  margin: 0 auto 15px auto;
}

#modal03 .info form > input {
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
  margin-top: 15px;
}

#modal03 .info form > p {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
}

#modal03 .info form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
  color: #fff;
}

#modal03 .info form > div img {
  margin-right: 5px;
}

#modal03 .login_mail {
  width: 330px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.5px solid #000000;
  border-radius: 4px;
  color: #174780;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

#modal03 .login_mail:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), #3351A0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), #3351A0;
}

#modal03 .login_fb {
  width: 330px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: #3351a0;
  border: 0.5px solid #000000;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

#modal03 .login_fb:hover {
  background-color: rgba(51, 81, 160, 0.5);
}

#modal03 .terms {
  color: #fff;
  text-align: center;
  margin-top: 25px;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

#modal03 .terms a {
  text-decoration: underline;
  color: #fff;
}

#modal04 .info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px;
  margin: 40px auto 35px auto;
}

#modal04 .info form > input {
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
  margin-top: 15px;
}

#modal04 .info form > p {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
}

#modal04 .info form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 15px;
  color: #fff;
}

#modal04 .info form > div img {
  margin-right: 5px;
}

#modal04 .send {
  width: 330px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.5px solid #000000;
  border-radius: 4px;
  color: #174780;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

#modal04 .send:hover {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.7)), to(rgba(255, 255, 255, 0.7))), #3351A0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), #3351A0;
}

#modal05 .info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px;
  margin: 0px auto 35px auto;
}

#modal05 .info form > input {
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
  margin-top: 15px;
}

#modal05 .info form > p {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
}

#modal05 .info form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 15px;
  color: #fff;
}

#modal05 .info form > div img {
  margin-right: 5px;
}

#modal05 .join {
  width: 330px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.5px solid #000000;
  border-radius: 4px;
  color: #174780;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

#modal05 .join:hover {
  background: rgba(255, 255, 255, 0.7);
}

#modal05 .update {
  width: 330px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: #4F7FB8;
  border: 0.5px solid #000000;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

#modal05 .update:hover {
  background: rgba(79, 127, 184, 0.8);
}

#modal06 .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 330px;
  margin: 0px auto 35px auto;
}

#modal06 .info .new_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

#modal06 .info .new_phone input {
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
}

#modal06 .info .new_phone div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4F7FB8;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  width: 120px;
  height: 40px;
}

#modal06 .info > input {
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  border: 0.5px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 8px 16px;
  color: #fff;
  margin-top: 15px;
}

#modal06 .info > p {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
}

#modal06 .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 15px;
  color: #fff;
}

#modal06 .info > div img {
  margin-right: 5px;
}

#modal06 .join {
  width: 330px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  border: 0.5px solid #000000;
  border-radius: 4px;
  color: #174780;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
}

#modal06 .join:hover {
  background: rgba(255, 255, 255, 0.7);
}

#modal07 .info {
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 16px;
}

#modal07 .doc {
  height: 300px;
  overflow-y: scroll;
  color: #4f4f4f;
  padding: 0 8px;
}

#modal07 .doc::-webkit-scrollbar-track {
  /*捲軸底色*/
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c4c4c4;
}

#modal07 .doc::-webkit-scrollbar {
  /*捲軸寬度*/
  width: 4px;
  background-color: #000;
}

#modal07 .doc::-webkit-scrollbar-thumb {
  /*捲軸本體顏色*/
  background-color: #313131;
}

#modal07 p {
  margin: 0 0 10px;
  font-size: 14px;
}

#modal07 h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}

.font-14px {
  font-size: 14px !important;
}

.font-16px {
  font-size: 16px !important;
}

.font-18px {
  font-size: 18px !important;
}

.font-20px {
  font-size: 20px !important;
}
/*# sourceMappingURL=style.css.map */